<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright © 2023, Gary Gocek, https://gary.gocek.org, gary@gocek.org -->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mp3scrUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <mp3scrUI.Properties.Settings>
            <setting name="MainWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="InitialDirectory" serializeAs="String">
                <value>C:\Users\gary\Desktop\podcasts\mp3scrUI</value>
            </setting>
            <setting name="DefaultIndex" serializeAs="String">
                <value>0001</value>
            </setting>
            <setting name="DefaultEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultUrl" serializeAs="String">
                <value>http://acme.com/feed.htm</value>
            </setting>
            <setting name="DefaultUrlPrefix" serializeAs="String">
                <value>=</value>
            </setting>
            <setting name="DefaultDestBase" serializeAs="String">
                <value>acme.xml</value>
            </setting>
            <setting name="DefaultDestFolderName" serializeAs="String">
                <value>C:\podcasts\</value>
            </setting>
            <setting name="DefaultExistingFeedFolder" serializeAs="String">
                <value>https://www.gocek.org/podcasts/</value>
            </setting>
            <setting name="DefaultGuidPrefix" serializeAs="String">
                <value>acme-</value>
            </setting>
            <setting name="DefaultMp3Filter" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultIndirectFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultIndirect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultChannelTitle" serializeAs="String">
                <value>Acme</value>
            </setting>
            <setting name="DefaultChannelNotes" serializeAs="String">
                <value>No RSS feed offered by Acme.</value>
            </setting>
            <setting name="DefaultSortDescending" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultRetainOrphans" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultStripBaseName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultPrependRelative" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultRefreshDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DefaultFtpPath" serializeAs="String">
                <value>ftp://ftp.gocek.net/wwwroot/podcasts/</value>
            </setting>
            <setting name="DefaultFtpUserName" serializeAs="String">
                <value>gocek.net</value>
            </setting>
            <setting name="DefaultFtpPassword" serializeAs="String">
                <value>2010GoWeb-</value>
            </setting>
            <setting name="DefaultPermissionRevoked" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultAllowHttps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultWraparound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultMaxWebRequests" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DefaultMaintenanceA" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultMaintenanceB" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultMaintenanceC" serializeAs="String">
                <value />
            </setting>
        </mp3scrUI.Properties.Settings>
    </userSettings>
	<appSettings>
		<add key="testIndex" value=""/>
		<!-- -->
		<add key="enabled0001" value="true" />
		<add key="url0001" value="http://www.acme.com/podcasts/acme.html" />
		<add key="urlPrefix0001" value="=" />
		<add key="destBase0001" value="acme.xml" />
		<add key="destFolderName0001" value="C:\podcasts\" />
		<add key="existingFeedFolder0001" value="http://www.acme.com/podcasts/acme.html" />
		<add key="guidPrefix0001" value="acme-" />
		<add key="mp3Filter0001" value="" />
		<add key="indirectFilter0001" value="" />
		<add key="indirect0001" value="false" />
		<add key="channelTitle0001" value="Acme" />
		<add key="channelNotes0001" value="Acme RSS file is bad." />
		<add key="sortDescending0001" value="true" />
		<add key="retainOrphans0001" value="false" />
		<add key="stripBaseName0001" value="false" />
		<add key="prependRelative0001" value="" />
		<add key="refreshDays0001" value="7" />
		<add key="ftpPath0001" value="ftp://ftp.acme.com/wwwroot/podcasts/" />
		<add key="ftpUserName0001" value="acme" />
		<add key="ftpPassword0001" value="acme" />
		<add key="permissionRevoked0001" value="" />
		<add key="allowHttps0001" value="false" />
		<add key="wraparound0001" value="false" />
		<add key="maxWebRequests0001" value="20" />
		<add key="maintenanceA0001" value="stuff" />
		<add key="maintenanceB0001" value="blah blah" />
		<add key="maintenanceC0001" value="" />
		<!-- -->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>